RUST_LOG=info
AMQP_URI=amqp://guest:guest@localhost:5672/%2f
DEVICE_ID=sensor-01
LATITUDE=50.4501
LONGITUDE=30.5234

# FILE or MIC
AUDIO_SOURCE=MIC
AUDIO_FILE_PATH=assets/processed/exp-001.wav
DEFAULT_SAMPLE_RATE=44100

ANOMALY_THRESHOLD_DB=-50.0
COOLDOWN_DURATION_SECS=3
TELEMETRY_INTERVAL_SECS=20
FFT_BINS_COUNT=100

RMQ_MAX_RETRIES=5
RMQ_RETRY_DELAY_SECS=3
# RAW or FFT
SEND_MODE=RAW